.tweet__card--container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #15202b;
  color: #fff;
  padding: 1rem 1.25rem;
  /* border-top: 1px solid rgb(56, 68, 77); */
  cursor: pointer;
  transition: 150ms background;
  gap: 0.4rem;
  padding-bottom: 0.6rem;
}
.tweet__card--container:last-child {
  margin-bottom: 10rem;
}
.tweet__card--container {
  border-bottom: 1px solid rgb(56, 68, 77);
}
.tweet__card--container:hover {
  background: rgb(28, 39, 50);
}
.tweet__card--top {
  display: flex;
  gap: 1rem;
}
.tweet__card--profile-pic {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
}
.tweet__card--profile-img {
  height: inherit;
  width: inherit;
  border-radius: 50%;
  object-fit: cover;
}
.tweet__card--content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  flex: 1;
  justify-content: center;
}
.tweet__card--content-top {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.tweet__card--details {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-left: 5.4rem;
  height: 4rem;
}
.r-4qtqp9 {
  width: 1.6rem;
  fill: rgb(136, 153, 166);
}
.r-4qtqp9.r-4qtqp09 {
  fill: rgb(249, 24, 128);
}
.tweet__card--bottom {
  display: flex;
  flex-direction: column;
}
.tweet__card--image {
  margin-left: 5.4rem;
}
.tweet__card--tweet-img {
  border-radius: 1.5rem;
  cursor: pointer;
  margin: 0.6rem 0;
  border: 1px solid rgb(56, 68, 77);
  max-width: 50.4rem;
  max-height: 73rem;
  margin-bottom: 0;
}

.tweet__created {
  font-size: 1.5rem;
  color: rgb(136, 153, 166);
}
.tweet__content {
  font-size: 1.4rem;
}
.tweet__dot {
  font-size: 1.8rem;
  color: rgb(136, 153, 166);
}
.tweet__icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.tweet__icon span {
  font-size: 1.2rem;
}
.tweet__icon button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet__card--content-top button {
  margin-left: auto;
}
.tweet__card--content-top form {
  display: flex;
  align-items: center;
}
.tweet__card--content-top button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border-radius: 50%;
  justify-content: center;
  transition: 150ms background;
}
.tweet__card--content-top button:hover {
  background: rgb(28, 51, 70);
}
.tweet__card--delete__container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000000;
  width: 100vw;
  height: 100vh;
  background: rgba(91, 112, 131, 0.4);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.tweet__card--delete__container-t2 {
  display: block !important;
}
.tweet__card--delete--modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #15202b;
  width: 32rem;
  height: 30rem;
  border-radius: 1.5rem;
  padding: 3.6rem;
  transform: translate(-50%, -50%);
}
.tweet__card--delete--modal p {
  color: rgb(136, 153, 166);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.tweet__card--delete--modal h3 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.tweet__card--delete--del {
  background: rgb(244, 33, 46);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1.4rem 0;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1px;
  font-family: inherit;
  border-radius: 100px;
  margin: 1rem 0;
}
.tweet__card--delete--del:hover {
  background: rgb(220, 30, 41);
}
.tweet__card--delete--can {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1.4rem 0;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1px;
  font-family: inherit;
  border-radius: 100px;
  border: 1px solid rgb(83, 100, 113);
  transition: 150ms background;
}
.tweet__card--delete--can:hover {
  background: rgb(44, 54, 64);
}

.tweet__icon--share {
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tweet__icon--share:hover {
  background: rgb(28, 51, 70);
}
.tweet__icon--share:hover svg {
  fill: rgb(29, 155, 240);
}

.tweet__icon--bookmark {
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tweet__icon--bookmark:hover {
  background: rgb(25, 54, 58);
}
.tweet__icon--bookmark:hover svg {
  fill: rgb(0, 186, 124);
}

.tweet__icon--heart {
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tweet__icon--heart:hover {
  background: rgb(51, 37, 58);
}
.tweet__icon--heart:hover + span {
  color: #f91880;
}
.tweet__icon--heart:hover svg {
  fill: #f91880;
}

.tweet__icon--comment {
  padding: 0.8rem;
  border-radius: 50%;
  transition: all 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tweet__icon--comment:hover {
  background: rgb(28, 51, 70);
}
.tweet__icon--comment:hover svg {
  fill: rgb(29, 155, 240);
}
.tweet__icon--comment:hover + span {
  color: rgb(29, 155, 240);
}
.mar-top-esm {
  margin-top: 0.2rem;
}
.tweet__name {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.tweet__name:hover {
  text-decoration: underline;
}

.tweet__username {
  color: rgb(136, 153, 166);
  font-size: 1.5rem;
}
.edit__form-modal {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 4.5rem;
}
.edit__form-modal button {
  width: 100%;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 100px;
  border: none;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  transition: 150ms background;
}
.edit__form-modal button:hover {
  background: rgb(215, 219, 220);
}
.edit__form-modal input {
  background: none;
  border: none;
  padding: 1.6rem;
  width: 100%;
  border-radius: 4px;
  border: 1.4px solid #3d5466;
  font-family: inherit;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 0.6rem;
}
.edit__form-modal input:focus {
  outline: none;
}
