.home__tweets--container {
  width: 59.8rem;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(56, 68, 77);
  border-right: 1px solid rgb(56, 68, 77);
  margin-right: 3rem;
}
.home__tweets--create {
  min-height: 12rem;
  display: flex;
  padding: 1rem 1.25rem;
  gap: 1rem;
  border-bottom: 1px solid rgb(56, 68, 77);
}
.home__tweet--profile {
  width: 4.8rem;
  height: 4.8rem;
}
.home__tweet--profile-pic {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.home__tweets--right {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.home__tweets--right--top {
  flex: 1;
}
.home__tweets--right--bottom {
  display: flex;
  justify-content: space-between;
}
.home__tweet--buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home__tweet--create--input {
  border: none;
  outline: none;
  background: none;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: inherit;
  font-size: 2rem;
}
.home__tweet--create--input::placeholder {
  color: rgb(136, 153, 166);
  font-size: 2rem;
}
.home__create--btn {
  background: none;
  outline: none;
  border: none;
  color: #828f95;
  font-family: inherit;
  font-size: 1.5rem;
  background-color: #195d8d;
  border-radius: 100px;
  padding: 1rem 1.6rem;
  font-weight: 600;
}
.home__create--btn--active {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 100px;
  padding: 1rem 1.6rem;
  background-color: #1d9bf0;
  cursor: pointer;
  font-weight: 600;
}
.home__tweet__btn--svg {
  cursor: pointer;
}
.home__tweet__btn--svg svg {
  width: 2rem;
  height: 2rem;
  fill: rgb(29, 155, 240);
}
.home__tweets--home {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(56, 68, 77);
  background: #15202b;
  padding: 1.25rem;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.home__tweets--home span {
  font-size: 2rem;
  font-weight: 600;
  user-select: none;
  letter-spacing: 0.2px;
}
.ansda-2 {
  width: 2rem !important;
  height: 2rem !important;
  fill: rgb(239, 243, 244) !important;
}
.tweet-option-dd {
  background-color: #15202b;
  display: none;
  width: 25rem;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: rgb(136 153 166 / 20%) 0px 0px 15px,
    rgb(136 153 166 / 15%) 0px 0px 3px 1px;
}

.p-1 {
  margin-left: 0 !important;
}
.kansd-00 {
  fill: rgb(244, 33, 46);
}
