.left_side_bar-container {
  flex: 1;
  max-width: 27.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  user-select: none;
}
.left-side-bar--nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
a span svg,
.left_side_bar-container div svg {
  height: 3rem !important;
  width: 3rem !important;
  fill: #fff !important;
}
.left-side-bar--nav a {
  text-decoration: none;
}
.left-side-bar--nav a span {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  border-radius: 100px;
  padding: 1.4rem 1rem;
  padding-right: 2rem;
}
.left_side_bar-container button {
  background-color: #1d9bf0;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-family: inherit;
  cursor: pointer;
  width: 90%;
  color: #fff;
  padding: 1.4rem 0;
  border-radius: 100px;
  margin-top: 3rem;
  font-weight: 600;
}
.left_side_bar-container div {
  padding: 1rem;
  width: max-content;
  cursor: pointer;
  border-radius: 100px;
  margin-bottom: 0.8rem;
}
.left_side_bar-container div:hover {
  background-color: rgb(21, 44, 63);
}
.left-side-bar--nav a:hover > span {
  background-color: rgb(44, 54, 64);
}
.active--link {
  font-weight: 800;
}
.left-side-bar--nav a span {
  font-weight: inherit;
}
.footer__profile-pic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
.leftside__footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
  margin-bottom: 2rem;
  padding: 1.2rem 2rem;
  border-radius: 100px;
  width: 90%;
  cursor: pointer;
  transition: 150ms background-color;
}
.leftside__footer:hover {
  background-color: rgb(44, 54, 64);
}
.footer__right-side {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.w-6 {
  color: #fff;
  margin-left: auto;
}
.leftside__footer_flex {
  display: flex;
  flex-direction: column;
}
.footer__right-side-user {
  color: rgb(136, 153, 166);
  font-size: 1.4rem;
}
.notification__menu {
  position: relative;
}
.notification__count {
  position: absolute;
  top: 10%;
  left: 7%;
  width: 25px;
  height: 25px;
  background: #1d9bf0;
  color: #fff;
  font-weight: 800;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(40%);
}
.notification__count:hover {
  background: #1d9bf0 !important;
}
