/* RESET STYLES */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Whitney Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Whitney Medium"), url("./fonts/whitneymedium.woff") format("woff");
} */

body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #15202b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL COMPONENT STYLES */

.tweet-option-dd {
  overflow: hidden;
}
.tweet-option-dd div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transition: 150ms background;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  user-select: none;
}
.tweet-option-dd div:first-child {
  color: rgb(244, 33, 46);
}
.tweet-option-dd div:hover {
  background: rgb(28, 39, 50);
}
.emoji-picker-react input.emoji-search {
  color: #000 !important;
}

div.stay-closed-2-sp,
.stay-closed-2-sp {
  display: none !important;
}
