.search__bar--container {
  display: flex;
  align-items: center;
  background: #253341;
  padding: 1.3rem 1.8rem;
  border-radius: 100px;
  margin-top: 1rem;
  position: relative;
}
.search__bar--container input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 1rem;
  color: #fff;
  font-family: inherit;
  font-size: 1.5rem;
}
.search__bar--container input::placeholder {
  color: rgb(136, 153, 166);
}
.sdnwe-2 {
  width: 2rem !important;
}
.search__bar-results--container {
  position: absolute;
  top: 104%;
  left: -3.6%;
  background-color: #15202b;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: rgb(136 153 166 / 20%) 0px 0px 15px,
    rgb(136 153 166 / 15%) 0px 0px 3px 1px;
  width: 37.4rem;
}
.result--single__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  transition: 150ms background;
  cursor: pointer;
  padding: 1rem 2rem;
  user-select: none;
}
.result--single__container:hover {
  background: rgb(32, 46, 58);
}
.result--single__container-left img {
  height: 5.6rem;
  width: 5.6rem;
  object-fit: cover;
  border-radius: 50%;
}
.result--single__container-right p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
.result--single__container-right span {
  color: rgb(136, 153, 166);
  font-size: 1.5rem;
}
