.right-side-bar-container {
  width: 34.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 100vh;
  position: sticky;
  top: 0;
}
.footer-right__side {
  margin-top: auto;
  display: block;
  margin-bottom: 2rem;
  color: rgb(136, 153, 166);
  font-size: 1.3rem;
  user-select: none;
  cursor: pointer;
}
.footer-right__side:hover {
  text-decoration: underline;
}
