.channel__section--container {
  width: 35rem;
  display: flex;
  flex-direction: column;
  user-select: none;
  border-left: 1px solid rgb(56, 68, 77);
}
.channel__card--container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.6rem;
  gap: 1rem;
  cursor: pointer;
  color: #fff;
  transition: 150ms background;
}
.channel__card--container:hover {
  background: rgb(25, 39, 52);
}
.channel__card--container:not(:last-child) {
  border-bottom: 1px solid rgb(56, 68, 77);
}
.channel__card--container img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  object-fit: cover;
}
.channel__card--text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.5rem;
}
.channel__card--text-2 {
  color: rgb(136, 153, 166);
  font-size: 1.4rem;
}
.tweet__card--delete--modal-2 {
  width: 60rem;
  height: 65rem;
  padding: 0;
}
.tweet__card--delete--modal-2 header {
  display: flex;
  align-items: center;
  gap: 5rem;
  border-bottom: 1px solid #3d5466;
  padding: 1.6rem;
}
.tweet__card--delete--modal-2 header button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  transition: 150ms background;
}
.tweet__card--delete--modal-2 header button:hover {
  background: rgb(44, 54, 64);
}
.tweet__card--delete--modal-2 header span {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.1px;
  font-size: 2rem;
}
.asaska-1 {
  fill: #fff !important;
  width: 2rem !important;
  height: 2rem !important;
}
.home__tweets--home--tweet-4 {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
